/* public/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  p{
    text-align: center;
  }
    /* Thêm một số kiểu cho tổng tiền */
    .total-amount {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2em;
    text-align: right;
  }
  